<table>
  <thead>
  <tr class="bg-dark text-light">
    <th scope="col">STT</th>
    <th scope="col">Dịch vụ</th>
    <th scope="col">Khách hàng</th>
    <th scope="col">Ngày bắt đầu</th>
    <th scope="col">Ngày kết thúc</th>
    <th scope="col">Tiền đặt cọc</th>
    <th scope="col">Tổng tiền</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>

    <td>
      <button>+
      </button>
      <button >Danh sách dịch vụ đi kèm
      </button>
    </td>
  </tbody>
</table>
