<table class="table table-light table-striped table-bordered">
  <tr class="table-dark text-light">
    <th class="text-center"><i class="fa-sharp fa-solid fa-bolt"></i></th>
    <th>Tên dịch vụ</th>
    <th>Tên nhân viên</th>
    <th>Tên khách hàng</th>
    <th>Ngày bắt đầu</th>
    <th>Ngày kết thúc</th>
    <th>Tiền đặt cọc</th>
    <th>Tổng tiền</th>
    <th class="text-center">Các dịch vụ đi kèm</th>
  </tr>

  <tr *ngFor="let item of contracts ;index as i">
    <td scope="row" >{{i+1}}</td>
    <td>{{i + 1}}</td>
    <td>{{item.startDate}}</td>
    <td>{{item.endDate}}</td>
    <td>{{item.deposit}}</td>
    <td>{{item.total}}</td>
  </tr>
</table>
</div>
