<div class="p-3">
  <h2 class="text-center fw-bold text-light my-3">DANH SÁCH DỊCH VỤ</h2>

  <table class="table table-light table-striped table-bordered">
    <tr class="table-dark text-light">
      <th class="text-center"><i class="fa-sharp fa-solid fa-bolt"></i></th>
      <th>Tên dịch vụ</th>
      <th>Diện tích (m<sup>2</sup>)</th>
      <th>Chi phí thuê</th>
      <th>Số người tối đa</th>
      <th>Kiểu thuê</th>
      <th>Loại dịch vụ</th>
      <th class="text-center">Sửa</th>
      <th class="text-center">Xóa</th>
    </tr>

    <tr *ngFor="let item of facilities;index as i ">
      <td>{{i + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.area}}</td>
      <td>{{item.cost}}</td>
      <td>{{item.maxPeople}}</td>
      <td>{{item.rentType.name}}</td>
      <!--      <td>{{item.itemType.name}}</td>-->
      <td>{{item.standardRoom}}</td>
      <!--      <td>{{item.descriptionOtherConvenience}}</td>-->
      <!--      <td>{{item.poolArea}}</td>-->
      <!--      <td>{{item.numberOfFloors}}</td>-->
      <td>{{item.facilityFree}}</td>
      <td>
       edit
      </td>
      <td>delete</td>
    </tr>
  </table>
</div>
