<table class="table table-striped border">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Name</th>
    <th scope="col">Birthday</th>
    <th scope="col">Gender</th>
    <th scope="col">ID card</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Customer type</th>
    <th scope="col">Address</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>1</td>
    <td>Dinh</td>
    <td>12-2-2000</td>
    <td>Nam</td>
    <td>123123</td>
    <td>112312312</td>
    <td>1@gmail.com</td>
    <td>vip</td>
    <td>Ha Noi</td>


    <td>
      <button
              type="button" class="btn btn-light" data-bs-toggle="modal"
              data-bs-target="#editCustomer">
        <img src="https://img.icons8.com/external-anggara-basic-outline-anggara-putra/24/null/external-create-social-media-interface-anggara-basic-outline-anggara-putra.png"/>
      </button>
    </td>
    <td>
      <button
              type="button"
              class="btn btn-light" data-bs-toggle="modal"
              data-bs-target="#deleteCustomer">
        <img src="https://img.icons8.com/ios-glyphs/30/null/trash--v1.png"/>
      </button>
    </td>
  </tr>

  </tbody>
</table>
