<div class="row">
  <h1 class="d-flex justify-content-center ">Danh sách sản phẩm</h1>
  <div class="  container-fluid">
    <table class="table table-bordered border-1">
      <tr>
        <td>STT</td>
        <td>Tên</td>
        <td>Giá</td>
        <td>Mô tả</td>
        <Td>Thể loại</Td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
      <tr *ngFor="let product of products; index as i">
        <td>{{i + 1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category?.name}}</td>
        <a [routerLink]="['/edit-product', product.id]">Edit</a>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="temp=product">
            Delete
          </button>
        </td>
      </tr>
    </table>
    <!-- Modal -->
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color: red">
          Bạn có chắc chắn muốn xoá {{temp.name}} không ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="delete(temp.id)" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>



