<app-header></app-header>
<div class="card bg-success offset-3 col-6">
  <form [formGroup]="customerGroup" (ngSubmit)="submit()">
    <div class="m-4 row">
      <label  class="col-sm-2 col-form-label">Name: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="name">
        <p class="text-danger" *ngIf="customerGroup.controls.name.hasError('required')&&customerGroup.controls.dateOfBirth.touched">phair co</p>
      </div>
    </div>

    <div class="m-4 row">
      <label class="col-sm-2">Gender: </label>
      <div class="col-sm-10">
        <label>
          <input type="radio" [value]="true" formControlName="gender">
        </label>Nam
        <label>
          <input type="radio" [value]="false" formControlName="gender">
        </label>Nữ
      </div>
    </div>

    <div class="m-4 row">
      <label  class="col-sm-2 col-form-label">Birth Day : </label>
      <div class="col-sm-10">
        <input type="date" class="form-control" formControlName="dateOfBirth">
        <p class="text-danger" *ngIf="customerGroup.controls.dateOfBirth.hasError('required')&&customerGroup.controls.dateOfBirth.touched">phair co</p>
      </div>
    </div>

    <div class="m-4 row">
      <div class="col-sm-2">Customer Type Name</div>
      <div class="col-sm-10">
        <select class="form-select" formControlName="customerType" [compareWith]="compare" >
          <option value="">Customer Type Name</option>
          <option  *ngFor="let item of customerType" [ngValue]="item">{{item.name}}</option>
        </select>
      </div>
    </div>

    <button type="submit" class="d-flex justify-content-center btn btn-danger" style="margin: 0 auto">Edit</button>
  </form>
</div>


<app-footer></app-footer>
